body{
    background-color: #D977ad;
    color: white;
} 
h1{
    color: rgb(234, 0, 0);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
header.primary{
    font-size: 10px;
  background-color: #00e4d1;
    color: #ffffff;
    text-align: center;
    border: 1px;
    text-shadow: 2px 2px 4px #000000;
    font-family: Impact, fantasy;
}
header.primary nav{
   text-decoration: none;
}
header.primary nav a {
   text-decoration: none;
   color: white;
   font-size: 25px;
    padding: 5px 7.5px;
    border-radius: 20px;
  
}
header.primary nav a:hover {
   color: rgb(255, 100, 0);
}
.container img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 10px;
}
#intro p {
    font-size: 12px;
    text-align: center;
    padding: 0% 10% 0% 10%;
}
#intro h2 {
    text-align: center;
    font-size: 18px;
}