body{
    background-color: #D977ad;
    color: rgb(255, 255, 255);
    margin: 0;
  padding: 0;
} 
h1{
    color: rgb(250, 52, 52);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
#aside div{
    color: #FFFFFF;
}
header.primary{
  font-size: 3px;
  background-color: lch(82.25% 44.6 186.75);
  color: #db0000;
  text-shadow: 2px 2px 4px #000000;
  font-family: papyrus;
  margin: 0;
  padding: 0;
  width: 100%; 
}
header.primary nav a{
   text-shadow: 2px 2px 4px #000000;
   display: flex;
   flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0%;
   color: #1d89cc;
   font-size: 25px;
    border-radius: 4px;
}
header.primary nav ul {
     list-style-type: none;
   flex-direction: row;
   padding: 0;
    gap: 2px;
    padding-left: 2px;
   justify-content: space-around;
   display: flex;
}
header.primary ul a{
   list-style-type: none;
   color: #FFFFFF;
  background-color: rgb(246, 0, 0);
text-decoration: none;
font-size: 20px;
padding: 5px 7.5px;
border-radius: 20px;
}

header.primary nav a:hover {
   color: rgb(167, 149, 149);
}
#intro p{
    text-align: right;
}
.container{
    text-align: center;
}
.container ol{
    text-align: center
}

.container img {
    align-items: right;
    align-content: center;
    margin-left: 20px;
    margin-right: 255px;
}
#intro p {
    font-size: 24px;
    text-align: center;
    padding: 0% 10% 0% 10%;
}
#intro h2 {
    text-align: center;
    font-size: 18px;
}
.container figcaption {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    text-decoration: underline
    
}
.container p{
    font-size: 30px;
    text-align: center;
}
#footer a{
    color: rgb(255, 255, 255);
    font-size: 10px;
}
#content ol{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 50px;
    padding: 30px
}
#footer{
    text-align: center;
    color: #000000;
    
}