/* CSS Demo Stylesheet */
header.primary{
    background-color: #f51111;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px 40px 20px 40px;
    font-family:'Courier New', Courier, monospace, sans-serif;
}
header.primary h1{
    font-weight: italic;
    font-size: 50px;
    margin: 0;
}
body {
    background-color: #D9A273;
    accent-color: #000000;
    margin:0;
}
header.primary nav ul{
   flex-direction: row;
   padding: 0;
   justify-content: space-around;
   display: flex;
}
header.primary nav ul a{
   flex-direction: row;
   padding: 0;
   justify-content: space-around;
   display: flex;
   border-radius: 20px 10px;
}
