/* CSS Demo Stylesheet */
header.primary{
    background-color: #ffffff;
    color: #dd0606;
    text-align: center;
    text-shadow: 2px 2px 4px #cd6464;
    padding: 20px 40px 20px 40px;
    font-family:'arial', Courier, monospace, sans-serif;
}
#content time.post-date, figcaption{
    text-align: center;
    font-family: 'arial', Courier, monospace, sans-serif;   
    font-weight: bolder;
    font-size: 15px;
    margin: 0;
}   
body {
    background-color: rgba(217, 162, 115);
    accent-color: #ff2626;
    margin:0;
}
header.primary nav ul{
    list-style-type: none;
   flex-direction: row;
   padding: 0;
   justify-content: space-around;
   display: flex;
}
header.primary nav ul a{
  color: #FFFFFF;
  background-color: rgba(0,0,0,.4);
text-decoration: none;
font-size: 20px;
padding: 5px 7.5px;
border-radius: 20px;
}
header.primary nav a:hover{
    background-color: rgba(255, 32, 32, 0.12);
}
#intro h2{
    text-align: center;
    font-size: 30px;
    font-family: 'arial', Courier, monospace, sans-serif;
   color: rgb(246, 0, 0);
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background: rgb(217, 143, 78);
    margin-bottom: 10px;
}
aside .container a{
    color: #534242;
    display: block;
    text-align: right;
    margin-top: 20px;

}

aside .widget footer{
    display: none;
}

#content .post {
    box-shadow: #0a0808 5px 5px 5px 5px;
    padding: 10px;
    font-size: 7px;
}
#content .post figure{
    margin: 0;
}

/* responsive image */
img{
    max-width: 100%;
    height: auto;
}
#content a{
    color: rgb(246, 0, 0);
}
#content a:hover{
    text-decoration: none;
}
#practice h3{
    text-align: center;
    font-size: 15px;
    font-family: 'arial', Courier, monospace, sans-serif;
    border-left: 7px solid rgb(246, 0, 0);
    padding-left: 10px;
}

aside [role="complementary"]{
    background: rgb(255, 0, 0);
    box-shadow: #000000 5px 5px 5px;
    padding: 10px;
    font-size: 20px;
    max-width: 300px;
    width: 20vw;
    height: fit-content;
}
aside .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
#practice a:hover{
    text-decoration: none;
}
#practice a{
    color: rgb(246, 0, 0);  
}
#practice{
    background: rgb(255, 255, 255);
    box-shadow: #000000 5px 5px 5px;
    padding: 10px;
    font-size: 20px;
    max-width: 980px;
    width: 80vw;
    margin: 20px auto;
    line-height: 110%;
}
#practice h2{
    text-align: center;
    font-size: 30px;
    font-family: 'arial', Courier, monospace, sans-serif;
   color: rgb(246, 0, 0);
}
#colophon{
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'arial', Courier, monospace, sans-serif;
}
#practice table{
    border: 1px solid rgb(9, 7, 7);
    width: 10%;
    border-collapse: collapse;
}
#practice caption{
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px;
    text-align: center;
}
#practice th{
    padding: 20px;
    color: rgb(251, 251, 251);
    background-color:brown;
}
#practice td{
    border: 1px solid rgb(255, 0, 0);
    padding: 5px;
    text-align: center;
}
#practice tr:nth-child(even){
    background-color: rgb(212, 16, 230);
} 
#practice tr:nth-child(odd){
    background-color: rgb(255, 0, 247);
}
#practice tr:hover{
    background-color: rgb(0, 255, 13);
}
#practice td:nth-child(1n+2){
    text-align: right;
}

/* Utility Classes */
img.right{
    float: right;
    width: 300px;
    margin: 10px 0 10px 20px;
    padding: 10px;
}
img.left{
    float: left;
    width: 300px;
    margin: 10px 20px 10px 0;
    padding: 10px;
}

.container{
    background: rgb(2, 1, 1);
    max-width: 980px;
    width: 80vw;
    margin: 20px auto;
}
img.center{
    display: block;
    width: 300px;  
    margin: 10px auto;
}
/* Media Queries */
@media screen and (max-width: 600px){

header.primary nav ul{  
   flex-direction: column;
  gap: 20px;
}
header.primary nav ul a{
  display: block;
}
}