/* CSS Demo Stylesheet */
header.primary{
    background-color: #5a4194;
    color: #fe0808;
    text-align: center;
    text-shadow: 2px 2px 4px #a49a9a;
    padding: 20px 40px 20px 40px;
    font-family:'arial', Courier, monospace, sans-serif;
}
#content time.post-date, figcaption{
    text-align: center;
    font-family: 'arial', Courier, monospace, sans-serif;   
    font-weight: bolder;
    font-size: 15px;
    margin: 0;
}   
body {
    background-color: rgba(217, 162, 115);
    accent-color: #000000;
    margin: 0;
    font-family: Impact, 'Arial Narrow Bold', sans-serif Courier, monospace, sans-serif;       
}
header.primary nav ul{
    list-style-type: none;
   flex-direction: row;
   padding: 0;
    gap: 20px;
    padding-left: 20;
   justify-content: space-around;
   display: flex;
}
header.primary nav ul a{
  color: #FFFFFF;
  background-color: rgba(0,0,0,.4);
text-decoration: none;
font-size: 20px;
padding: 5px 7.5px;
border-radius: 20px;
}
header.primary nav a:hover{
    background-color: rgba(210, 67, 67, 0.12);

}
#intro h2{
    text-align: center;
    font-size: 30px;
    font-family: 'arial', Courier, monospace, sans-serif;
   color: rgb(227, 227, 227);
 
}
#intro p{
    color: rgb(0, 74, 211);
    font-size: 20px;
    padding: 10px;  
}
#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    max-width: 980px;
    width: 80vw;
    margin: 20px auto;
}
aside .container a{
    color: #f8f1fa;
    display: block;
    text-align: right;
    margin-top: 20px;
}
aside .container a:hover{
    text-decoration: none;
}

aside .widget footer{
    display: flex;
    flex-direction: row;  
}

#content .post {
    box-shadow: #ff3131 5px 5px 5px 5px;
    padding: 10px;
    font-size: 7px;
}
#content .post figure{
    margin: 10px;
    padding: 1px;
}
#content .post p{
    font-size: 15px;
    line-height: 110%;
    text-align: justify;
    font-family: 'arial', Courier, monospace, sans-serif;
}
#content .post p{
    font-size: 200%;
    color: rgb(41, 17, 228);
}
#content .post h2{
    text-align: center;
    font-size: 10px;
    font-family: 'arial', Courier, monospace, sans-serif;
   color: rgb(0, 0, 0);
}   

/* responsive image */
img{
    max-width: 100%;
    height: auto;
}
#content a{
    color: rgb(244, 244, 244);
}
#content a:hover{
    text-decoration: none;
}
#practice h3{
    text-align: center;
    font-size: 15px;
    font-family: 'arial', Courier, monospace, sans-serif;
    border-left: 7px solid rgb(47, 3, 241);
    padding-left: 10px;
}

aside [role="complementary"]{
    background: rgb(249, 91, 91);
    box-shadow: #000000 5px 5px 5px;
    padding: 10px;
    font-size: 20px;
    max-width: 300px;
    width: 20vw;
    height: fit-content;
}
.container{
    background: none
}
aside .container{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
#practice a:hover{
    text-decoration: none;
}
#practice a{
    color: rgb(6, 5, 5);  
    text-decoration: none;
    text-align: center;
}
#practice{
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;
    max-width: 980px;
    width: 80vw;
    line-height: 110%;
}
#practice h2{
    text-align: center;
    font-size: 30px;
    font-family: 'arial', Courier, monospace, sans-serif;
   color: rgb(210, 37, 37);
}
#colophon{
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'arial', Courier, monospace, sans-serif;
}
#practice table{
    border: 1px solid rgb(9, 7, 7);
    width: 10%;
    border-collapse: collapse;
}
#practice caption{
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px;
    text-align: center;
}
#practice th{
    padding: 20px;
    color: rgb(251, 251, 251);
    background-color:rgb(163, 19, 215);
}
#practice td{
    border: 1px solid rgb(60, 255, 0);
    padding: 5px;
    text-align: center;
}
#practice tr:nth-child(even){
    background-color: rgba(212, 16, 230, 0.711);
} 
#practice tr:nth-child(odd){
    background-color: rgb(255, 5, 247);
}
#practice tr:hover{
    background-color: rgb(0, 255, 13);
}
#practice td:nth-child(1n+2){
    text-align: right;
}

/* Utility Classes */
img.right{
    float: right;
    width: 300px;
    margin: 10px 0 10px 20px;
    padding: 10px;
}
img.left{
    float: left;
    width: 300px;
    margin: 10px 20px 10px 0;
    padding: 10px;
}
.container{
    background: rgb(205, 67, 67);
    max-width: 980px;
    width: 80vw;
    margin: 20px auto;
}
img.center{
    display: block;
    width: 300px;  
    margin: 10px auto;
}
/* Media Queries */
@media screen and (max-width: 600px){

header.primary nav ul{  
   flex-direction: column;
  gap: 20px;
}
header.primary nav ul a{
  display: block;
}
}