body{
    background-color: #D977ad;
    color: rgb(255, 255, 255);
    margin: 0;
  padding: 0;
} 
 h1{
    color: rgb(220, 56, 56);
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}
#container h2{
    font-size: 10
}
#content h1{
    color: #ffffff;
    margin: auto;
    padding: 10%;
}
#aside div{
    color: #cc0b0b;
}
header.primary{
  font-size: 3px;
  background-color: lch(82.25% 44.6 186.75);
  color: #db0000;
  text-shadow: 2px 2px 4px #000000;
  font-family: papyrus;
  margin-top: 0%;
  padding: 1%;
  width: 100%; 
}
header.primary nav a{
   text-shadow: 2px 2px 4px #000000;
   display: flex;
   flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0%;
   color: #1d89cc;
   font-size: 25px;
    border-radius: 4px;
}
header.primary nav ul {
     list-style-type: none;
   flex-direction: row;
    gap: 2px;
    padding-left: 2px;
   justify-content: space-around;
   display: flex;
}
header.primary ul a{
   list-style-type: none;
   color: #FFFFFF;
  background-color: rgb(246, 0, 0);
text-decoration: none;
font-size: 20px;
padding: 5px 7.5px;
border-radius: 20px;
}

header.primary nav a:hover {
   color: rgb(122, 69, 69);
}
#intro p{
    text-align: right;
}
.container ol {
    text-align: center;
    font-size: 400px;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#intro p {
    font-size: 24px;
    text-align: center;
    padding: 0% 10% 0% 10%;
}
#intro h2 {
    text-align: center;
    font-size: 36px;
}
.container figcaption {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    text-decoration: underline;
}
#faq figcaption {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    text-decoration: underline;
}
.container p{
    font-size: 30px;
    text-align: center;
}
#footer a{
    color: rgb(255, 255, 255);
    font-size: 10px;
}
#content ol {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 50px;
    padding: 30px;
} 
footer nav a{
   text-shadow: 2px 2px 4px #000000;
   display: flex;
   flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0%;
   color: #D977ad;
   font-size: 15px;
    border-radius: 4px;
}
footer{ 
     list-style-type: none;
    font-size: 3px;
  background-color: lch(41.18% 118.77 311.52);
  text-shadow: 2px 2px 4px #000000;
text-align: center;
  margin-top: 10px;
  padding: 1%;
  width: 100%;
}
footer a{
    color: #c20d71;

}
#faq h1 {
    color: #95e1ff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}
.faq-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 30%;
}
#faq h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 12px;
    text-shadow: 6px 6px 8px #ff0000;
}
#faq p {
    font-size: 24px;
    text-align: center;
    padding: 1% 10% 0% 10%;
    font-family: Arial, sans-serif;
}
#faq figcaption {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}
@media screen and (max-width: 600px){
    img.right {
        float: right;
        width: 300px;
        margin: 10px 0 10px 20px;
        padding: 10px;
    }
    img.left {
        float: left;
        width: 300px;
        margin: 10px 0 10px 20px;
    }
    img.center{
        align-content: center;
    }
}